*{
    box-sizing: border-box;
    margin: 0%; padding: 0%;

 
}

/* @keyframes b{
    50%{
        z-index: 55;
        transition: all .6s ease;
        background: rgb(111, 222,green);
    }
    80%{
        transform: skew(6deg);
        transition: all .6s ease;

    }
    100%{
        content: '';
        position: absolute;
        z-index: -1;
        animation-name: b;
        animation-timing-function: ease;
        animation-iteration-count: 1;
    }
} */


html{
    scroll-behavior: smooth;
}

/* HEADER COMPONENT */

.navbar{
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    color: wheat;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */   
    /* position: fixed;
    height: auto;
    top: 0%;
    
    /* display: inline-block; */
    /* width: 100%;
    color: black;
    font-family: cursive;
    /* background-color:wheat; */
    overflow:auto; 

}
.navbar ul li a :hover{
    color: wheat;
}

.navbar ul{
    display: flex;
    justify-content: center;
    overflow: auto;
    flex-direction: row;

}
.li{
    text-decoration: none;
    color: black;
    /* flex-direction: row; */
    list-style: none;
    font-size: 1.2rem;
    /* border-right: 16px solid black; */
    /* border-left: 1px solid black; */
    /* border-top: 2px solid whitesmoke; */
    /* border-bottom: 2px solid rgb(180, 175, 175); */
    /* justify-content: center; */
    margin: 1.4% 4%;
    color: wheat;
    animation: nav .5s ease 0s 1 ;

}
@keyframes nav{
    from{
    border-bottom: 2px solid rgb(180, 175, 175);
        transition: .5s ease;
    }   
    to{
        border-bottom: 12px solid rgb(180, 175, 175);
        transition: .5s ease;

    }

}
.li:nth-child(1){
    position: relative;
    right: 10%;
    /* color: wheat; */
    /* color: wheat; */
}


/* Intro  */
 .anim{
     position: relative;
    display: inline-block;
    height:34px;
    width: 84%;
    overflow: hidden;
    color: black;
    /* background-color: royalblue; */
    text-align: center;
    /* background-color: blue; */

}
.intro p{
    display: inline-block;
    animation: rotae 5s infinite;
    margin-left: 200px;
    text-decoration: wavy;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    /* transform: skewX(21deg) skewY(4deg); */
     /* text-shadow:-22px 18px 6px grey;  */
    margin-left: 13rem;
   

}
@keyframes rotae{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-35px);
    }
    50%{
        transform: translateY(-68px);
    }
    75%{
        transform: translateY(120px);
    }
    100%{
        transform: translateX(0px);
    } 
}



.intro h2 {
    display: flex;
    justify-content: center;
     font-family: 'Audiowide', cursive;
  /* text-shadow:-22px 18px 9px grey; */
        font-size: 4.3rem;
    /* transform: skewX(23deg) skewY(6deg); */
transition: all .5s ease;
    font-weight: bold;
    margin-top: 11rem;
    /* margin-left: 11rem;  */
    /* animation-name: h2;
    animation-iteration-count: 1;
    animation-duration: 2s; */
    animation: h2 4s steps(40);
    overflow: hidden;
    /* border-right: 2px solid black; */
    white-space: nowrap;
} 
     @keyframes h2 {
        0%{ 
         /* margin-left: 500%;
            opacity: .1;
            transform: scale(1.7) skewX(70deg) skewY(79deg) ;
            transition: all .5s ease; */
            transition: all .4s ease; 
            width: 0ch;
         border-right: 2px solid black;
         display: flex;
         justify-content: center;

        }       
        /* 100%{
            /* opacity: 1;
            /* transform: scale(1)  skewX(8deg) skewY(1deg); */
            /* transition: all .5s ease;  */
            
            /* }  */
            99%{
                width: 20ch;
            opacity: 1;
            /* transform: scale(1)  skewX(23deg) skewY(6deg); */
            transition: all 4s ease; 
            border-right:2px solid black;
            display: flex;
            justify-content: center;
        } 
        100%{
            visibility: hidden;
            transition: all 4s ease; 

            border-right: none;
            display: flex;
            justify-content: center;

        }
        
     }
    


.intro p {
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    /* transform: skewX(21deg) skewY(4deg); */
     /* text-shadow:-22px 18px 6px grey;  */
 margin-left: 15rem;

} 

.cv-btn {
    height: 2.5rem;
    width: 8rem;
    background-color: #11381c;
    outline: none;
    border: none;
    border-radius: 3px 3px 3px 3px ;
    color: #fff;
    cursor: pointer;
    margin-top: 40%;
    margin-left: 7rem;
  

}
 .work-btn {
    height: 2.5rem;
    width: 8rem;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 3px 3px 3px 3px;
    outline: none;
    transition: all .6s ease; 
     margin: 2px 2px 2px 2px; 
    margin-left: 11rem;
    cursor: pointer;

    animation-name: workbtn;
    animation-iteration-count: 1;
    animation-duration: 3s;
}
    @keyframes workbtn {
        from{
            opacity:.1 ;
            transform: scale(1)  ;
            margin-left: -774%;
            margin-right: 60%; 
            transition: all .5s ease;
            
         }        
        to{ 
             opacity: 1; 
             /* transform: scale(1)  skewX(23deg) skewY(6deg);  */
             transition: all .5s ease; 
             margin: 2px 2px 2px 2px; 
             margin-left: 11rem; 


         } 
 

        }




.work-btn:hover {
    background-color: #11381c;
    outline: none;
    border: none;
    border-radius: 3px 3px 3px 3px ;
    color: #fff;
    transition: all .6s ease;


}

/* Progress section */
.progress-section {
    margin-top: 8rem;
    color: rgb(255, 255, 255);
    background-color:#343b46;
    transform: skew(90deg) ;
    font-family: 'Audiowide', cursive;


    animation-name: progressection;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    

}
@keyframes progressection{
    20%{
        opacity: .1;
        transform: scale(.1);
        transition: all .5s ease;

    }
    40%{
        transform: scale(.3);
        /* margin-right: 599%; */
        opacity: .3;
        transition: all .5s ease;

        /* margin-left: 100px; */
    }
    
    90%{
        opacity: .5;
        transform: scale(.5);
        transform: skew(180deg);
        transition: all .5s ease;
    
    }       
    100%{
        opacity: 1;
        transform: scale(1);
        transform: skew(90deg);
        transition: all .5s ease;
        /* margin-left: 0px; */


    }

}
.progress {
    height:0.4rem!important;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: #000;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin: auto;
    width: 88%;
    /* border: 3px solid green; */
    padding: 34px;
    text-decoration: none;
    border-left: 2px solid black;
   
}
 h5{
    font-family: 'Audiowide', cursive;
    font-size: 1.8rem;
    font-weight: bold;
    margin: auto;
    /* width: 10%; */
    /* border: 3px solid green; */
    padding: 34px;
    text-decoration: none;
    /* border-right: 2px solid black; */
    border-left: 2px solid black;


   
}
.progress{
    /* display: inline; */
    margin-top: 4%;
    background-color: transparent;
        }
.picture{
    height: 35rem;
    margin-left: 7%;
}
.myself{
    margin-top: -45%;
    margin-left: 40%;
    padding-bottom: 50px;
    /* margin-bottom: 40%; */
}
.SocialUrls{
    display: flex;
    justify-content: center;


}
.SocialUrls img{
    height: 4em;  
    cursor: pointer;

}
.technologies{
    display: flex;
    margin-top: 7%;
    /* justify-content: center; */
    /* margin-left: 2%; */
    /* padding: 6%; */
    padding-top: 2%;
    background-color: rgb(120, 143, 211);
    padding-top: 6%;
    padding-bottom: 6%;
    font-size: 2rem;
}
#techno{
    display:flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 14%;
    font-size: 2.6rem;
    
    
    /* text-align: center; */
    /* width: 100vw; */
    /* margin: auto 5px; */
}

/* .FraLib{} */
    /* display: inline-block;
    border: 2px solid wheat;
    font-family: cursive;
    padding: 6% 5%;
}
.Tools{
    display: inline-block;
    border: 2px solid wheat;
    font-family: cursive;

    background-color: purple;
padding: 6% 5%;
}
.languages{
    font-family: cursive;
    display: inline-block;
    border: 2px solid wheat;
padding: 6% 5%;
    background-color: red;
} */
.alltechs{
    font-family: cursive;
    display: block;
    /* border: 2px solid wheat; */
    /* padding: 1%; */
    /* background-color: whitesmoke; */
    flex-wrap: wrap;
    /* margin-top: 5%; */
    /* padding-right: 10%; */
    width: 55vw;
    height: auto;
    overflow:auto;
    text-align: center;
}
.Cofo{
    align-self: center;
    text-align: center;
    align-items: center;
    margin-top: 14%;
}
input , button{
    display:block ;
    margin: auto;
    width: 40%;
    text-align: center;
    padding: 1%;
    font-family: monospace;
    font-size: 1.2em;
    transition: all 1s ease 2s;

    
}
h1{
    display:block ;
    margin: auto;
    width: 40%;
    text-align: center;
    /* padding: 1%; */
    font-family: monospace;
    /* font-size: 1.2em; */
    transition: all 1s ease 2s;
}
button:hover{
    width: 10%;
    transition: all .5s ease;
}
input:focus{

}