@media only screen and (max-width: 576px){
 .navbar,.navbar ul  {
     display: flex;
     flex-direction: column;
     height: 100px;
     justify-content: center;
     text-align: center;
 }
 .navbar ul{
     height: 100%;
     margin-top: 0%;
 }
 .intro h2 {
    display: flex;
    justify-content: center;
     font-family: 'Audiowide', cursive;
  /* text-shadow:-22px 18px 9px grey; */
        font-size: 2.3rem;
    /* transform: skewX(23deg) skewY(6deg); */
transition: all .5s ease;
    font-weight: bold;
    margin-top: 11rem;
    color: white;
    /* margin-left: 11rem;  */
    /* animation-name: h2;
    animation-iteration-count: 1;
    animation-duration: 2s; */
    animation: h2 4s steps(40);
    overflow: hidden;
    /* border-right: 2px solid black; */
    white-space: nowrap;
} 
     @keyframes h2 {
        0%,70%{ 
        
            transition: all .4s ease; 
            width: 0ch;
         border-right: 2px solid white;
         display: flex;
         justify-content: center;

        }       
            99%{
                width: 13ch;
            opacity: 1;
            /* transform: scale(1)  skewX(23deg) skewY(6deg); */
            transition: all 4s ease; 
            border-right:2px solid black;
            /* display: flex;
            justify-content: center; */
        } 
        100%{
            visibility: hidden;
            transition: all 4s ease; 
            border-right: none;
            /* display: flex; */
            justify-content: center;

        }
        
     }
     .li:nth-child(1) {
        position: relative;
        bottom: 4%;
        right: 0;
        /* color: wheat; */
        /* color: wheat; */
    }
    .intro p{
        display: inline-block;
        animation: rotae 5s infinite;
        /* margin-left: 200px; */
        text-decoration: wavy;
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
        /* transform: skewX(21deg) skewY(4deg); */
         /* text-shadow:-22px 18px 6px grey;  */
        margin-left: 13rem;
        height: 30px;
    
    }
    @keyframes rotae{
        0%{
            transform: translateY(0px);
        }
        25%{
            transform: translateY(-35px);
        }
        50%{
            transform: translateY(-68px);
        }
        75%{
            transform: translateY(140px);
        }
        100%{
            transform: translateX(0px);
        } 
    }
    .anim {
        position: relative;
        display: inline-block;
        height: 34px;
        width: 100%;
        overflow: hidden;
        color: white;
        padding: 0px;
        /* margin-right: 5%; */
        /* background-color: royalblue; */
        text-align: center;
        /* background-color: blue; */
    }
    .progress {
        display: flex;
        position: relative;
        top: 40%;
        font-size: 1.1em;
        margin-top: 60%;
        text-align: center;
        /* top: 5em; */
        flex-direction: column;
        justify-content: center;
        height: 50vh;
        /* margin-left: 0; */
    }
     .picture{
        height: 50%;
        display: block;
        margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }
    /* .anim{
        display: flex;
        justify-content: center;
        /* width: 100%; */
    /* } */ 
 }   


